useDynLib(understandBPMN, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(avg_connector_degree)
export(calculate_metrics)
export(coefficient_network_connectivity)
export(connectivity_level_between_pools)
export(connector_heterogeneity)
export(connector_mismatch)
export(control_flow_complexity)
export(create_internal_doc)
export(create_path_and_repetition_log)
export(cross_connectivity)
export(cyclicity)
export(density_process_model)
export(depth)
export(diameter)
export(direct_parallel_relations)
export(max_connector_degree)
export(n_data_objects)
export(n_duplicate_tasks)
export(n_empty_sequence_flows)
export(n_message_flows)
export(n_pools)
export(n_swimlanes)
export(separability)
export(sequentiality)
export(size_process_model)
export(structuredness)
export(task_names)
export(token_split)
export(traces_contain_relation)
export(activity_multiple_times_executed)
export(some_traces_without_activity)
export(activity_names_repetitions)
export(cyclomatic_metric)
export(cognitive_weight)
export(coupling_metric)
import(XML)
import(dplyr)
import(purrr)
import(tibble)
import(tidyr)
importFrom(Rcpp,evalCpp)
importFrom(utils,combn)
import(devtools)
importFrom(R.utils, withTimeout)
importFrom(R.utils, TimeoutException)
